<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402773067153-clgsv2bdbkkh5v21buf7raqa8pl99ilh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402773067153-clgsv2bdbkkh5v21buf7raqa8pl99ilh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>402773067153-jll7arn0hlpp8bef3rsr79ev8d2ddfke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCj7cryhpuY0Wrnpe7UErYugL0jARxup3k</string>
	<key>GCM_SENDER_ID</key>
	<string>402773067153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetingApp</string>
	<key>PROJECT_ID</key>
	<string>meeting-app-930c0</string>
	<key>STORAGE_BUCKET</key>
	<string>meeting-app-930c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402773067153:ios:7f2dd9c4d011bbe20f4630</string>
</dict>
</plist>